h1 {
    font-size: 3rem;
    margin: 30px;
    margin-top: 100px;
}

main p {
    padding: 10px 30px;
}

.email {
    display: inline-block;
    padding: 15px 30px;
}

main p:last-child {
    margin-bottom: 30px;
}