<footer>
    <div class="footer-item">
        <h4>Fresh Locker</h4>
        <li>
            <a href="">A propos de nous</a>
        </li>
        <li>
            <a href="">Nos services</a>
        </li>
        <li>
            <a href="">Nous rejoindre</a>
        </li>
        <li>
            <a href="">La team</a>
        </li>
    </div>

    <div class="footer-item">
        <h4>Aide</h4>
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="">Livraison</a>
        </li>
        <li>
            <a href="">Options de paiement</a>
        </li>
        <li>
            <a href="">Nous contacter</a>
        </li>
    </div>

    <div class="footer-item">
        <h4>Réglementation</h4>
        <li>
            <a href="">Mentions légales</a>
        </li>
        <li>
            <a href="">CGV</a>
        </li>
        <li>
            <a href="">CGU</a>
        </li>
        <li>
            <a href="">RGPD</a>
        </li>
    </div>

    
    <div class="footer-item">
        <h4>Suivez-nous !</h4>

        <div class="social-media-container">
            <a href="">
                <div class="social-container1"></div>
                <p>Facebook</p>
            </a>
        </div>

        <div class="social-media-container">
            <a href="">
                <div class="social-container2"></div>
                <p>Instagram</p>
            </a>
        </div>

    </div>
</footer>