<footer>

    <div class="footer-item">
        <h3>Fresh Locker</h3>
        <span></span>
        <li>
            <a href="">À propos de nous</a>
        </li>
        <li>
            <a href="">Nos services</a>
        </li>
        <li>
            <a href="">Nous rejoindre</a>
        </li>
        <li>
            <a href="">La team</a>
        </li>
    </div>

    <div class="footer-item">
        <h3>Aide</h3>
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="">Livraison</a>
        </li>
        <li>
            <a href="">Options de paiement</a>
        </li>
        <li>
            <a href="">Nous contacter</a>
        </li>
    </div>

    <div class="footer-item">
        <h3>Réglementation</h3>
        <li>
            <a href="">Mentions légales</a>
        </li>
        <li>
            <a href="">CGV</a>
        </li>
        <li>
            <a href="">CGU</a>
        </li>
        <li>
            <a href="">RGPD</a>
        </li>
    </div>

    
    <div class="footer-item">
        <h3>Suivez-nous !</h3>
        <ul>
            <li>
                <div class="social-media-container">
                    <a href="">
                        <img src="{{ asset('images/logo/logo_facebook.svg') }}" alt="">
                        <p>Facebook</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="social-media-container">
                    <a href="">
                        <img src="{{ asset('images/logo/logo_twitter.svg') }}" alt="">
                        <p>Instagram</p>
                    </a>
                </div>
            </li>
        </ul>

    </div>
</footer>