<header>
    <div class="main-header">
        <div class="burger-container">
            <button class="nav-toggler" aria-label="toggle curtain navigation"> 
                    <span class="linespan l1"></span>
                    <span class="linespan l2"></span>
                    <span class="linespan l3"></span>
            </button>
        </div>

        <div class="logo-container">
                <img class="logo-mobile" src="{{asset('image/logo-white-lain-max.png')}}" alt="">
                <img class="logo-desktop" src="{{asset('image/logo-flat-min.png')}}" alt="">
        </div>
        <div class="icon-container">
            <a href="">
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="">
                <i class="fa-solid fa-basket-shopping"></i>
            </a>
                    {# <img src="{{asset('image/user.svg')}}" alt="">
                    <img src="{{asset('image/shopping.svg')}}" alt=""> #}
        </div>
    </div>

    <nav class="nav-container">
        <div class="search-input">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Rechercher...">
        </div>
        <li>
            <a href="">Accueil</a>
            <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li>
            <a href="">Produits</a>
            <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li>
            <a href="">A propos</a>
            <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li>
            <a href="">Contact</a>
            <i class="fa-solid fa-chevron-right"></i>
        </li>
    </nav>
    
</header>